*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.active{
	 
	border:  3px  solid #22c1c3;
}
.heading{
	background-color: #d083cf;
	height: 70px;

}

@font-face {
	font-family: adminpanel;
	src:url(http://localhost/NEWS/admin/assets/font/hello.ttf);
}
.heading h2{
	line-height: 60px;
	font-size: 1.6rem;
	font-family: adminpanel;  
	font-weight: bold;
}

div .profile{
	background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

div .profile img{
	height: 250px;
	width: 100%;
	border-radius: 100%;
	padding: 10px;
}

div .menu{
	background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	width: 100%;
	max-height: auto;
}


div .menu ul li {
	padding: 10px; 
	list-style: none;
	margin-left: 15px;
}

div .menu ul li a{
	color: white;
	font-size: 18px;
}

div .menu ul li a{
	text-decoration: none;
}


div .menu ul li a i{
    font-size: 40px;
    margin-right: 20px;
}

div .mycontainer{
background: #EF3B36;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

div .icon i {
	 margin-left: 55px;
	font-size: 150px;
	left: 40px;
}