*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.body{
	width: 100%;
	height: 100vh;
	background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mycontainer{
	width: 100%;
	max-height: auto;
	background: #eacda3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
 

.header-section{
	position: relative;
	width: 100%;
	height: 15vh;
	left: 15px;
    border: 2px solid #C4E0E5;
  border-radius: 10px 10px;
  background: #f7ff00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@font-face {
	font-family: mytitlr;
	src:url(http://localhost/NEWS/assets/fonts/langrish.ttf);
}

.header-section  h2{
	font-size: 40px; 
	position: absolute;
	left: 100px;
	top: 15px;
	font-family: mytitlr;
	
}

.header-section img {
	width: 100%;
	height: 80px;
	z-index: -1;
}

.menu li:hover{
	background-color: #19547b;
	color: white;
}
.menu li{
	padding: 2px; 
}

.side {
	background-color: black;
	height: 40px;
	position: relative;
}

.side .side_main{
	position: absolute;
	background-color: purple;
	color: white;
	left: 75px;
	padding: 6px;
	margin-left: 3px;
	line-height: 25px;
	margin-top: -10px;  
}


div .overflow{
	background-color:#12c2e9;

	width: 100%;
    height: 360px;
	padding: 2px;
	margin-top: 3px;
	overflow-y: scroll;
}
div p{
	    margin-top: 0;
    margin-bottom: 1rem;
    color: brown;
    text-align: start; 
}

div p a {
	    text-decoration: none;
    color: #6a0b0b;
    
    font-size: 14px;
}

.category{
	padding: 0px;
	margin: 24px;
	margin-top: 10px;
	border: 0px solid green;
}

.category > a {
	color: rgb(14,18, 410);
	border: 0px solid;
	padding: 4px;
	margin: 10px;
	font-size: 15px;
	text-transform: uppercase;
	float: left;
	text-decoration: none; 
	background-color: silver;
}

.category > a:hover{
	background-color: orange;
}

@font-face {
	font-family: posttitle;
	src:url(http://localhost/NEWS/assets/fonts/gula.ttf);

}
.post h3{
    font-size: 1.8rem;
	font-family: posttitle;
	color: #3a6186;
}





.postside {
	background-color: black;
	height: 44px;
	margin-bottom: 10px;
	position: relative;
}



.postside .post_side_main{
	position: absolute;
	background-color: purple;
	color: white;
	left: 305px;
	height: 65px;
	padding: 6px;
	margin-top: -15px;
	margin-left: 3px;
	line-height: 25px; 
}

footer{
	background-color: black;
	height: 65px;
	width: 100%;
	padding: 3px;
}

footer h6{
	line-height: 50px;

	color: white;
	font-size: 25px; 
}